doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
    // Third party plugin CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')
    // Core theme CSS (includes Bootstrap)
    link(href='css/weather.css', rel='stylesheet')
    link(href='images/inint.jpg' rel='shortcut icon')
    link(href='css/quiz.css', rel='stylesheet')
    
    
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
      .container
        a.navbar-brand.js-scroll-trigger(href='/') Indonesian Intelligence
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.my-2.my-lg-0
            li.nav-item
              a.nav-link.js-scroll-trigger.active(href='#page-top') Independence Day
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#tribe') Indonesian Tribes
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#tour') Visit Indonesia
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#name') Indonesian Names
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#weather') Weather
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#about') About

            
            
    // Masthead
    header.masthead
      .container
        .text-center
          h2.text-white.mt-0 Panjat Pinang
          p.text-white-75.mb-4(style='font-size:21px;') 
            |   On independence day, people in Indonesia climb a pole with their bare hands to compete for a bike.  
          p.text-white-75.mb-4(style='font-size:21px;') 
            |   We have got a game for you!! 
          p.text-white-75.mb-4(style='font-size:21px;') 
            |   Works best on PC. 
          iframe(src="https://i.simmer.io/@tpak0002/ppiteration2824"  style="width:960px;height:600px")       


    // Bootstrap core JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
    // Core theme JS
    script(src='js/scripts.js')
    