doctype html
html
  head
    title Indonesian Travel
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
    // Third party plugin CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css' rel='stylesheet')
    // Core theme CSS (includes Bootstrap)
    link(href='/css/travel.css' rel='stylesheet')
    link(href='/images/inint.jpg' rel='shortcut icon')
  body#page-top
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Indonesian Intelligence
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.my-2.my-lg-0

            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#panja') Independence Day
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#tribe') Indonesian Tribes
            li.nav-item
              a.nav-link.js-scroll-trigger.active(href='/#tour') Visit Indonesia
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#name') Indonesian Names
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#weather') Weather
            li.nav-item
              a.nav-link.js-scroll-trigger(href='/#about') About
    header.masthead
      div
        section.information
          .wrapper
            br
            h1 Travel to Indonesia!
            h2 What to see in Indonesia?
              br
              br
            .team
              .team_member
                .team_img
                  #carouselbali.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/Bali/1.jpg' alt='tbali1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bali/2.jpg' alt='tbali2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bali/3.jpg' alt='tbali3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bali/4.jpg' alt='tbali4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bali/5.jpg' alt='tbali5')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bali/6.jpg' alt='tbali6')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bali/7.jpg' alt='tbali7')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselbali' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselbali' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Bali
                h4
                  | Where is it?
                
                p
                  |Bali is a 6 to 7 hour plane ride from Melbourne, Australia. The weather is mostly warm, experiencing dry season from April to September and rainy season from October to March. 
                br 
                h4 
                  |What to do there?

                p 
                    ul - Enjoy the beach, mountains and forests
                    ul - Try out authentic Indonesian food
                    ul - Visit beautiful temples

              .team_member
                .team_img
                  #carouselbor.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/Borobudur/1.jpg' alt='tbor1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Borobudur/2.jpg' alt='tbor2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Borobudur/3.jpg' alt='tbor3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Borobudur/4.jpg' alt='tbor4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Borobudur/5.jpg' alt='tbor5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselbor' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselbor' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Borobudur Temple
                h4
                  | Where is it?
                
                p
                  |Located in Magelang, Central Java close to Yogjakarta, one of the most visited city. The best time to visit is in the dry season, between April to October. 
                br 
                h4 
                  |What to do there?

                p 
                    |Other than visiting one of the greatest Buddhist monuments in the world, you can spend time in Jogjakarta.
                    ul - Learn to make Batik. Indonesia’s traditional fabric design.
                    ul - Watch Ramayana Ballet. Reenactment of one of the ancient epics in world literature.
                    ul - Visit Prambanan Temple. Another beautiful temple (Hindu) close to Yogyakarta.
              
              .team_member
                .team_img
                  #carouselbro.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/Bromo/1.jpg' alt='tbro1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bromo/2.jpg' alt='tbro2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bromo/3.jpg' alt='tbro3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bromo/4.jpg' alt='tbro4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Bromo/5.jpg' alt='tbro5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselbro' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselbro' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Mount Bromo
                h4
                  | Where is it?
                
                p
                  |The closest major city is Surabaya. The mountain is a 90-minute car ride from Surabaya. The best time to visit is between April to October.
                br 
                h4 
                  |What to do there?

                p 
                    ul - Hike to reach the volcano
                    ul - Climb the trail leading to the lip of the crater to reach the best viewpoint.
                    ul - Enjoy delicious authentic food in Surabaya

              .team_member
                .team_img
                  #carouselgili.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/Gili/1.jpg' alt='gili1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Gili/2.jpg' alt='gili2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Gili/3.jpg' alt='gili3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Gili/4.jpg' alt='gili4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Gili/5.jpg' alt='gili5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselgili' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselgili' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Gili Islands
                h4
                  | Where is it?
                
                p
                  |They are located near Bali. You can take a 3-hour boat ride from Bali to Gili, otherwise you can take the plane directly. The best time to visit is between September and November, for the best weather whilst avoiding peak tourism season.
                br 
                h4 
                  |What to do there?

                p 
                    ul - Scuba diving
                    ul - Snorkeling
                    ul - Surfing
                    ul - Enjoy grilled seafood

              .team_member
                .team_img
                  #carouselkd.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/Komodo/1.jpg' alt='kd1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Komodo/2.jpg' alt='kd2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Komodo/3.jpg' alt='kd3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Komodo/4.jpg' alt='kd4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Komodo/5.jpg' alt='kd5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselkd' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselkd' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Komodo Dragon
                h4
                  | Where is it?
                
                p
                  |It is located in the East Nusa Tenggara province.
                  | The best way to get there is by firstly flying to
                  | Bali and then to Labuan Bajo. From there, you can take
                  | a boat ride to Komodo Island. The best time to visit is
                  | between September and November, where you can enjoy the
                  | good weather and avoiding peak tourist season (July to August).
                br 
                h4 
                  |What to do there?

                p 
                    |Firstly, you have to see the Komodo Dragons. 
                    ul - Scuba diving
                    ul - Snorkeling
                    ul - Enjoy nature
              
              .team_member
                .team_img
                  #carouselmf.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/mfubud/1.jpg' alt='mf1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/mfubud/2.jpg' alt='mf2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/mfubud/3.jpg' alt='mf3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/mfubud/4.jpg' alt='mf4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/mfubud/5.jpg' alt='mf5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselmf' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselmf' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Monkey Forest
                h4
                  | Where is it?
                
                p
                  |Ubud is located just about an hour drive from Denpasar, Capital of Bali. The best time to visit is between July to September, to enjoy a warm sunny day and a cool weather in the evening..
                br 
                h4 
                  |What to do there?

                p 
                    |Walk around the Sacred Monkey Forest Sanctuary, and you are also allowed to feed the monkeys. You can purchase some of the food that’s provided in the area to feed them. 
                    ul - Campuhan Ridge Walk. Enjoy a nice walk through the rice fields.
                    ul - View Kecak Dance Performance. Traditional dance performance recreating the story of Ramayana.
                    ul - Dine with a view.

              .team_member
                .team_img
                  #carouselor.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/Orangutans/1.jpg' alt='or1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Orangutans/2.jpg' alt='or2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Orangutans/3.jpg' alt='or3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Orangutans/4.jpg' alt='or4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Orangutans/5.jpg' alt='or5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselor' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselor' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Orangutan
                h4
                  | Where is it?
                
                p
                  |You can find them in Tanjung Puting National Park. To get there you will need to take a 2 hour houseboat ride from Pangkalan Bun, Central Kalimantan. The best time to visit is in the dry season, between June to September. This is when the Orangutans are most active and visible.
                br 
                h4 
                  |What to do there?

                p 
                    |Enjoy the Tanjung Puting National Park to see orangutans.
                    ul - Visit Arut River
                    ul - Orangutan Care Center Quarantine. To interact with baby orangutans.
                    ul - Istana Kuning. A historical palace that belonged to the Kutaringin sultanate. 

              .team_member
                .team_img
                  #carouselrj.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/raja/1.jpg' alt='rj1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/raja/2.jpg' alt='rj2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/raja/3.jpg' alt='rj3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/raja/4.jpg' alt='rj4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/raja/5.jpg' alt='rj5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselrj' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselrj' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Raja Ampat
                h4
                  | Where is it?
                
                p
                  |Raja Ampat is located in the island of New Guinea. The best way to get there is by firstly flying to Sorong. From there you can go to the harbour to catch a boat to the island of Waigeo. For the calmest water, it’s best to visit between November to March.
                br 
                h4 
                  |What to do there?

                p 
                    ul - Climb the Piaynemo, to reach the stunning viewpoint of Raja Ampat. 
                    ul - Watch the gorgeous sunrise and sunset.
                    ul - Walk on a Floating Sand Island.
                    ul - Snorkeling
                    ul - Scuba Diving

              .team_member
                .team_img
                  #carousellt.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures 
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/Toba/1.jpg' alt='lt1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Toba/2.jpg' alt='lt2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Toba/3.jpg' alt='lt3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Toba/4.jpg' alt='lt4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/Toba/5.jpg' alt='lt5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carousellt' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carousellt' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Lake Toba
                h4
                  | Where is it?
                
                p
                  |Lake Toba is located in Sumatra. The best way to get there is to firstly fly to Medan city, and travel by car to Prapat which is a 4 to 6 hour ride. It may be a long ride but it’ll bring you to a beautiful place, filled with green trees and a beautiful large lake. The best time to visit is between May to September, where the weather is nice and avoid the tourist peak season.
                br 
                h4 
                  |What to do there?

                p 
                    ul - Have a relaxing boat ride to Samosir island.
                    ul - Swim around the Binangalom waterfall.
                    ul - Water sports.
                    ul - Hike up Pusuk Buhit, a volcano with a gorgeous view.

              .team_member
                .team_img
                  #carouseltr.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/travel/toraja/1.jpg' alt='tr1')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/toraja/2.jpg' alt='tr2')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/toraja/3.jpg' alt='tr3')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/toraja/4.jpg' alt='tr4')
                      .carousel-item
                        img.d-block.w-100(src='/images/travel/toraja/5.jpg' alt='tr5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouseltr' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouseltr' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Tana Toraja
                h4
                  | Where is it?
                
                p
                  |To get to Toraja, you must firstly fly to Makassar, the capital province of South Sulawesi. From there you can only travel by car or bus for 8 hours to Toraja, and there are many tour companies that will provide this service. The best time to visit is between June to October.
                br 
                h4 
                  |What to do there?

                p 
                    ul - See Buntu Burake. The big statue of Jesus Christ standing tall on a hill.
                    ul - Seafood culinary, traditional to Toraja.
                    ul - Kete Kesu Village. Gorgeous location with an amazing history of the people of Toraja lived.

        // Footer
        footer.bg-light.py-5
          .container
          .small.text-center.text-muted Copyright © 2020 - Monash Goat
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
        // Core theme JS
        script(src='js/scripts.js')
