doctype html
html
  head
    title Indonesian Tribes
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
    // Third party plugin CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css' rel='stylesheet')
    // Core theme CSS (includes Bootstrap)
    link(href='/css/tribe.css' rel='stylesheet')
    link(href='/images/inint.jpg' rel='shortcut icon')
  body#page-top
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
      .container
        a.navbar-brand.js-scroll-trigger(href='/') Indonesian Intelligence
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.my-2.my-lg-0

            li.nav-item
              a.nav-link.js-scroll-trigger(href='/') Back to Main Page
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#page-top') Information
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#the_graph.graph') WordCloud
    header.masthead
      div
        section.information
          .wrapper
            br
            h1 Tribes of Indonesia!
            h2 How diverse is it?
            .desc
              p
                | Indonesia is a very diverse country. It has more than 
                | 633 ethnic groups. These ethnic groups are based of their
                | location. Some of the popular ethnic groups are Javanese, 
                | Balinese, Dayak. They also include a few foreign ethnicities
                | like Chinese, Arabs, Indians, Japanese, Koreans etc.
            
              br
              br
            .team
              .team_member
                .team_img
                  #carouselbali.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/tribes_java_1.jpg' alt='tjava1')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_java_2.jpg' alt='tjava2')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_java_3.jpg' alt='tjava3')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_java_4.jpg' alt='tjava4')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_java_5.jpg' alt='tjava5')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselbali' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselbali' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
       
                h3 Javanese
                p
                  | The Javanese tribe are primarily located in the island of Java. 
                  | The Javanese tribe consists of more than 40% of the entire population.
                  | Rice is their staple food. They have their own calender for cultural
                  | events. They are known for their architecture. 
                  .tribes1
                    p Click to play!
                    a.btn.btn-primary.btn-xl.js-scroll-trigger(href='https://leoyon99.itch.io/javanese') Flappy Bird DIFFICULTY : HARD
                      img(src="images/bird.png" width = 50 height = 50)

              .team_member
                .team_img
                  #carouseljava.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/tribes_bali_1.jpg' alt='tbali1')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_bali_2.jpg' alt='tbali2')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_bali_3.jpg' alt='tbali3')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_bali_4.png' alt='tbali4')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouseljava' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouseljava' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
                h3 Balinese
                p
                  | The Balinese tribe is primarily located in the island of Lombok.
                  | They celebrate the Bali – Kite festival. The Kites are shaped like
                  | a fish, bird, leaf etc. They take place annually between July and August.
                  .tribes2
                    p Click to play!
                    a.btn.btn-primary.btn-xl.js-scroll-trigger(href='https://leoyon99.itch.io/balinese') Flappy Bird DIFFICULTY : EASY
                      img(src="images/bird.png" width = 50 height = 50)

              .team_member
                .team_img
                  #carouselsumatra.carousel.slide(data-ride='carousel')
                    .carousel-inner
                      // The pictures
                      .carousel-item.active
                        img.d-block.w-100(src='/images/tribes_dayak_1.jpg' alt='tdayak1')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_dayak_2.jpg' alt='tdayak2')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_dayak_3.jpg' alt='tdayak3')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_dayak_4.jpg' alt='tdayak4')
                      .carousel-item
                        img.d-block.w-100(src='/images/tribes_dayak_5.jpg' alt='tdayak4')
                    // Add arrow key to navigate
                    a.carousel-control-prev(href='#carouselsumatra' role='button' data-slide='prev')
                      span.carousel-control-prev-icon(aria-hidden='true')
                      span.sr-only Previous
                    a.carousel-control-next(href='#carouselsumatra' role='button' data-slide='next')
                      span.carousel-control-next-icon(aria-hidden='true')
                      span.sr-only Next
                h3 Dayak
                p
                  | The Dayak tribe are primarily located in Borneo.
                  | They are known for their literature (Papan Turai –
                  | wooden board). They celebrate festivals with cock fights and boat races.
                  .tribes3
                    p Click to play!
                    a.btn.btn-primary.btn-xl.js-scroll-trigger(href='https://leoyon99.itch.io/dayak') Flappy Bird DIFFICULTY : INTERMIDIATE
                      img(src="images/bird.png" width = 50 height = 50)
        // graph
        section#the_graph.graph
          .custom-box
            br
            br
            h2
              | WordCloud of popular tribes
            h3 
              | Hover your mouse to view the various tribe's population percentages.
            br
            <div class='tableauPlaceholder' id='viz1602998380431' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;IndonesiaTribe-pp&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='IndonesiaTribe-pp&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;IndonesiaTribe-pp&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1602998380431');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>     
            br 
            br


        // Footer
        footer.bg-light.py-5
          .container
          .small.text-center.text-muted Copyright © 2020 - Monash Goat
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
        // Core theme JS
        script(src='js/scripts.js')
